.tituloG1{
    background-color: #C4170C;
    text-align: center;
    color:white;
}

.corFundo1{
    background-color: aqua;
}

.corFundo2{
    background-color: blueviolet;
}

.corFundo3{
    background-color: black;
}

.corMenu{
    background-color: darkgoldenrod;
}